* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #0d0d0d;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ad69fb;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9131fe;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: transparent;
    font-size: 20px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(40px);
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo img {
    width: 40px;
    transition: transform 0.6s ease;
  }
  
  .logo img:hover {
    transform: rotate(360deg);
  }

  .logo h2 {
    font-size: 25px;
  }

  nav a {
    color: rgb(219, 219, 219);
    text-decoration: none;
    margin: 0 20px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
  }

  nav a:hover, nav a:focus {
    color: #b982f9;
  }

  .hire-btn {
    background: white;
    color: black;
    padding: 12px 26px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: max-content;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    margin-top: -3%;
    margin-bottom: 3%;
    position: relative;
    height: 100vh;
    /* background: url(img/bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .video-background {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }

  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: black; 
    filter: brightness(0.55); 
  }

  .hero-text {
    max-width: 60%;
  }

  .passion-btn {
    background: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 30px;
  }

  .hero h1 {
    font-size: 64px;
    margin-bottom: 10px;
  }

  .highlight {
    background: linear-gradient(to right, #ffffff, #c8a4f1, #b880f9);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
  .hero h3 {
    font-size: 36px;
    color: #999;
    margin-bottom: 20px;
  }

  .hero h3 span {
    color: white;
  }

  .hero p {
    color: #bbb;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.6;
  }

  .buttons {
    display: flex;
    gap: 25px;
  }

  .btn {
    text-decoration: none;
    font-size: 18px;
    padding: 14px 30px;
    border-radius: 35px;
    font-weight: 600;
  }

  .btn.view {
    background: #e1e1e1;
    color: black;
  }

  .btn.view:hover, .btn.story:hover {
    transform: scale(1.04);
    background-color: white;
  }
  .btn.story {
    border: 1px solid white;
    color: white;
    transition: all 0.5s ease;
  }

  :root {
  --color-purple-light: #be8df6;
  --color-purple-dark: #6f42c1;
  --color-purple-medium: #9b4dff;
  --color-purple-highlight: #b880f9;
  --color-purple-gradient-start: #b167f3;
  --color-purple-gradient-end: #8db9ff;
  --color-scroll-text: #c8a4f1;
  --color-text-light: #dcdcdc;
  --color-text-muted: #bbb;
  --color-bg-dark: #0d0d0d;
  --color-bg-darker: #000;
}

.hero-image img {
    width: 100%;
    max-width: 380px;
    border: 10px solid #222;
    background: radial-gradient(circle, var(--color-purple-light), var(--color-bg-dark));
  }

  .hero-image {
  display: inline-block;
  border-radius: 5%;
  padding: 8px;
  background: radial-gradient(circle, #be8df6, #000);
  animation: glow 2s ease-in-out infinite alternate;
}

  @keyframes glow {
    from {
      box-shadow: 0 0 10px #be8df6, 0 0 20px #be8df6;
    }
    to {
      box-shadow: 0 0 20px #be8df6, 0 0 40px #be8df6;
    }
  }

  .scroll-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
  }
  
  .scroll-content {
    display: inline-block;
    font-size: 9vw;
    font-weight: 900;
    color: #f5f2ff;
    white-space: nowrap;
    will-change: transform;
    animation: scroll-left 10s linear infinite;
  }
  
  .scroll {
    color: #c8a4f1;
  }
  
  .dot {
    padding: 0 20px;
    color: #f5f2ff;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    gap: 60px;
  }
  
  .left-section {
    position: relative;
    max-width: 400px;
  }
  
  .profile-card {
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #6f42c1;
    padding: 7px;
  }
  
  .profile-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
  }
  
  .badge {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#9b4dff, #5e2eff, #9b4dff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 10px #9b4dff50;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0%, 100% { box-shadow: 0 0 10px #9b4dff50; }
    50% { box-shadow: 0 0 20px #9b4dffaa; }
  }
  
  .badge .number {
    font-size: 24px;
  }
  
  .right-section {
    max-width: 700px; 
  }
  
  .about-btn {
    background-color: transparent;
    border: 1px solid #ffffff3c;
    color: #fff;
    border-radius: 999px;
    padding: 8px 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 50px;
    margin: 0 0 20px;
  }
  
  .highlight {
    color: #9b4dff;
  }
  
  p {
    line-height: 1.7;
    margin-bottom: 20px;
    color: #dcdcdc;
    text-align: justify;
  }
  
  .learn-more {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 12px 20px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .learn-more span {
    margin-left: 8px;
    transition: margin-left 0.3s ease;
  }
  
  .learn-more:hover span {
    margin-left: 16px;
  }

  .projects-section {
    padding: 60px 30px;
    text-align: center;
  }

  .header .tag {
    border: 1px solid #ffffff52;
    padding: 6px 14px;
    border-radius: 999px;
    background: transparent;
    color: #fff;
    margin-bottom: 10px;
  }

  .header h2 {
    font-size: 70px;
    margin: 10px 0;
    font-weight: 600;
  }

  .header .highlight {
    color: #9b4dff;
  }

  .header p {
    color: #aaa;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto 20px auto;
  }

  .center-btn {
    margin-top: 30px;
  }

  .view-all {
    padding: 14px 30px;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 999px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .view-all:hover, .learn-more:hover, .hire-btn:hover, .btn.story:hover {
    background: #9b4dff;
    color: white;
  }

  .slider-container {
    position: relative;
    max-width: 1400px;
    margin: auto;
  }

  .slider-wrapper {
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .card {
    flex: 0 0 460px;
    margin-right: 10px;
    background: transparent;
    padding: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.161);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .card:hover{
    border: 0.5px solid white;
    transition: all 0.3s ease;
  }

  .card img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }

  .card h3 {
    margin-top: 10px;
    color: white;
  }

  .card p {
    font-size: 18px;
    color: #ccc;
  }

  .card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: left;
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #444;
    color: white;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
  }

  .nav.left {
    left: -40px;
  }

  .nav.right {
    right: -40px;
  }

  .services-section {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
  }

  .services-container {
    display: flex;
    gap: 20px; 
    padding-bottom: 15px;
  }
  .services-container::-webkit-scrollbar {
    display: none;
  }

  .service-card {
    flex: 0 0 300px; 
    background-color: #000000;
    border-radius: 10px;
    padding: 30px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 370px;
    border: 0.5px solid rgba(255, 255, 255, 0.221);
  }

  .service-card:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.469);
  }

  .card-icon {
    font-size: 2.5rem;
    color: #8a2be2; 
    margin-bottom: 20px;
  }

  .service-card h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .service-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #cccccc;
    flex-grow: 1; 
    margin-bottom: 20px;
  }

  .learn-more {
    display: inline-block;
    color: #8a2be2; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }

  .learn-more:hover {
    color: #ffffff; 
  }

  .footer {
    background-color: #0d0d0d;
    padding: 50px 30px 30px;
  }

  .container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
  }

  .footer-col h3 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
  }

  .footer-col ul {
    list-style: none;
    padding: 0;
  }

  .footer-col ul li {
    margin: 10px 0;
  }

  .footer-col ul li a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-col ul li a:hover {
    color: #8a2be2;
  }

  .brand .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .brand .logo img {
    width: 50px;
  }

  .brand h2 {
    margin: 0;
    font-size: 24px;
  }

  .brand p {
    margin: 4px 0 12px;
    font-size: 14px;
    color: #bbb;
  }

  .description {
    margin: 20px 0;
    font-size: 20px !important;
    line-height: 1.6;
    color: #ccc;
  }

  .social-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }

  .social-icons a {
    color: #ccc;
    font-size: 40px;
    transition: color 0.3s;
  }

  .social-icons a i {
    transition: all 0.3s ease;
  }

  .social-icons a:hover i {
    transform: scale(1.3);
  }

  .social-icons a:nth-child(1):hover i {
    color: #0077b5;
  }

  .social-icons a:nth-child(2):hover i {
    color: white; 
  }

  .social-icons a:nth-child(3):hover i {
    color: #25D366; 
  }

  .social-icons a:nth-child(4):hover i {
    color: #0088cc;
  }

  .social-icons a:nth-child(5):hover i {
    color: #e1306c;
  }

  .contact-info li {
    margin-bottom: 10px;
    color: #ccc;
  }

  .bottom-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #222;
    padding-top: 20px;
    margin-top: 40px;
    font-size: 20px;
    color: #aaa;
  }

  .bottom-bar .links a {
    margin-left: 15px;
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s;
  }

  .bottom-bar .links a:hover {
    color: #8a2be2;
  }

  .header-section {
    background: url('img/about-banner.jpg') no-repeat center center/cover;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 50vh; 
    align-items: center;
    position: relative; 
    z-index: 1; 
  }

  .header-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
  }

  .header-content {
    position: relative; 
    z-index: 2; 
  }

  .header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  .header-content p {
    font-size: 1.2em;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1350px;
    width: 100%;
  }

  .container a {
    text-decoration: none;
  }

  .cards {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.161);
    border-radius: 15px;
    padding: 20px 20px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .cards:hover {
    transform: translateY(-5px);
    border-color: #be79ff;
  }

  .cards i {
    font-size: 70px;
    margin-bottom: 15px;
    display: block;
  }

  .instagram i { color: #E1306C; }
  .snapchat i { color: #FFFC00; }
  .github i { color: #999999; }
  .linkedin i { color: #0A66C2; }
  .telegram i { color: #0088CC; }
  .whatsapp i { color: #25D366; }

  .cards span {
    font-size: 25px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
  }

  .cards p {
    font-size: 18px;
    color: #aaa;
    text-align: center;
  }

  .tab-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .tab-container {
    display: flex;
    background-color: #1a1a1a;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 0 0 0 3px #333;
  }

  .tab-button {
    background-color: transparent;
    border: none;
    color: #aaa;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .tab-button:hover{
    background-color: #aaaaaa3c;
  }

  .tab-button.active {
    background-color: #fff;
    color: #000;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  .content-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .timeline-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    position: relative;
    text-align: left;
  }

  .timeline-item .left,
  .timeline-item .right {
    width: 60%;
    padding: 0 20px;
  }

  .timeline-item .left {
    text-align: right;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #777;
  }

  .timeline-item::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: #aaa;
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-item .left .date {
    background-color: #1a1a1a;
    color: #fff;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .timeline-item .left h2 {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
  }

  .timeline-item .left h3 {
    color: #b883f7;
    font-size: 18px;
    margin: 5px 0 0;
  }

  .timeline-item .right span{
    color: #b883f7;
    font-size: 18px;
    margin: 5px 0 0;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    background-color: #1a1a1a;
    padding: 4px 12px;
    border-radius: 20px;
  }

  .timeline-item .right span:hover{
    background-color: #b883f7;
    color: #000;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    overflow: hidden;
    padding: 40px;
  }

  .skill-card {
    background: transparent;
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.161);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    transition: background 0.3s ease;
  }

  .skill-card:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.559);
  }

  .skill-card .icon {
    width: 70px;
    height: max-content;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .skill-card:hover .icon {
    filter: grayscale(0%);
  }

  .skill-card span {
    font-size: 18px;
    font-weight: 500;
    left: 90px;
    top: 20px;
    position: absolute;
    justify-content: space-around;
  }

  .bar {
    background-color: #333;
    width: 75%;
    height: 8px;
    top: 55px;
    left: 92px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 8px;
    position:absolute;
  }

  .fill {
    height: 100%;
    background: linear-gradient(90deg, #b167f3, #8db9ff);
    transition: background 0.4s ease;
  }

  .percent {
    font-size: 14px;
    position: absolute;
    top: 20px;
    right:-250px;
    color: #ccc;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 45px;
    margin-top: 80px;
  }

  .project-card {
    flex: 1 1 calc(33.33% - 40px); 
    overflow: hidden;
  }

  .project-card img {
    transition: transform 0.3s ease-in-out;
  }

  .project-card img:hover {
    transform: scale(1.05);
  }

  .contact-section {
    padding: 40px 25px;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }

  .contact-info, .contact-form {
    flex: 1 1 550px;
    background: #111;
    padding: 30px;
    border-radius: 16px;
  }

  .contact-form{
    border: 12px solid rgb(84, 84, 84);
    height: fit-content;
  }

  .contact-info{
    background: transparent;
  }

  .contact-info h2, .contact-form h2 {
    font-size: 45px;
    font-weight: 700;
  }

  .contact-info p, .contact-form p {
    color: #aaa;
    margin: 15px 0 40px;
    line-height: 1.6;
    font-size: 22px;
  }

  .info-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .info-block .icon {
    background: #222;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 15px;
  }

  .info-block h4 {
    margin: 0 0 5px;
    color: #fff;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
  }

  .contact-form label {
    margin: 10px 0 5px;
    font-size: 22px;
    font-weight: 500;
    color: #ccc;
  }

  .contact-form input {
    padding: 12px 14px;
    border: 1px solid #333;
    background: #1a1a1a;
    color: #eee;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .contact-form button {
    background: linear-gradient(to right, #d946ef, #8b5cf6);
    color: #fff;
    padding: 14px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: opacity 0.3s ease;
  }

  .contact-form button:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
  }

  .menu-toggle span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }

  .resume {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border: 10px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  }

  .resume h1 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #999;
  }

  .resume h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #999;
  }

  .resume h3 {
    font-size: 18px;
    margin-top: 20px;
    color: #999;
  }

  .date {
    font-size: 14px;
    color: #999;
    float: right;
  }

  .contact {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
  }

  .contact a {
    text-decoration: none;
    color: #999;
  }

  .contact a:hover {
    text-decoration: underline;
  }

  .resume p,
  .resume ul {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .resume ul {
    padding-left: 20px;
  }

  .resume ul li {
    margin-bottom: 8px;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Responsive styles for mobile phones */
  @media (max-width: 768px) {
    header {
      padding: 20px 5%;
    }

    .logo h2 {
      font-size: 20px;
    }

    nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #0d0d0d;
      padding: 20px 0;
      text-align: center;
    }

    #mainNav a {
      text-decoration: none !important;
    }

    nav.active {
      display: flex;
    }

    nav a {
      margin: 10px 0;
      font-size: 18px;
    }

    .hire-btn {
      display: none;
    }

  }

    @media (max-width: 768px) {
      .menu-toggle {
        display: flex; 
        position: absolute;
        top: 20px;
        right: 5%;
      }

      nav {
        display: none; 
      }

      nav.active {
        display: flex;
      }
    }

    @media (max-width: 480px) {

    .menu-toggle .bar {
      width: 25px;
      height: 3px;
      margin: 4px 0;
      transition: 0.4s;
    }

    .timeline-item::before {
      display: none;
    }

    .timeline-item::after {
      display: none;
    }

    .menu-toggle.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .video-background {
      height: 110vh;
    }

    .hero {
      flex-direction: column-reverse;
      text-align: center;
      padding: 50px 5%;
      height: auto;
      margin-top: 0;
    }

    .hero-text {
      max-width: 100%;
      margin-bottom: 30px;
    }

    .hero h1 {
      font-size: 40px;
    }

    .hero h3 {
      font-size: 22px;
    }

    .hero p {
      font-size: 17px;
    }

    .buttons a {
      justify-content: center;
      font-size: 14px;
    }

    .hero-image {
      width: 60%;
      max-width: 300px;
      margin-bottom: 6%;
    }

    .scroll-wrapper {
      margin-top: 30px;
    }

    .scroll-content {
      font-size: 12vw;
    }

    .about-section {
      flex-direction: column;
      padding: 40px 5%;
    }

    .left-section {
      max-width: 100%;
      margin-bottom: 50px;
    }

    .badge {
      top: -25px;
      left: 27%;
      transform: translateX(-50%);
      width: 70px;
      height: 70px;
      font-size: 10px;
    }

    .profile-card{
    width: 60%;
    margin: 0 auto;
    }

    .right-section {
      max-width: 100%;
      text-align: center;
      margin-top: -70px;
    }

    .projects-section{
      margin-top: -40px;
    }

    .right-section h1 {
      font-size: 40px;
    }

    .header h2 {
      font-size: 40px;
    }

    .header p {
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center;
    }

    .slider-container {
      padding: 0 1px;
    }

    .slider-wrapper {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }

    .slider {
      flex-wrap: nowrap;
    }

    .card {
      flex: 0 0 100%;
      scroll-snap-align: start;
      margin-right: 20px;
    }

      .service-card {
        flex: 0 0 90%; 
        padding: 20px;
        min-width: 100px;
    }

    .card-icon {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .service-card h3 {
        font-size: 1.3rem;
    }

    .service-card p {
        font-size: 0.9rem;
    }

    .nav {
      display: none;
    }

    .footer .container {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .brand .logo {
      justify-content: center;
    }

    .social-icons {
      justify-content: center;
    }

    .bottom-bar {
      flex-direction: column;
      text-align: center;
    }

    .bottom-bar .links {
      margin-top: 10px;
    }

    .bottom-bar .links a {
      margin: 0 8px;
    }

    .header-section {
      height: 52vh;
      padding: 80px 20px;
    }

    .header-content h1 {
      font-size: 2.5em;
    }

    .header-content p {
      font-size: 1em;
    }

    .container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .cards {
      padding: 15px;
    }

    .cards i {
      font-size: 50px;
    }

    .cards span {
      font-size: 20px;
    }

    .cards p {
      font-size: 16px;
    }

    .tab-container {
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px;
    }

    .tab-button {
      padding: 8px 15px;
      font-size: 14px;
      margin: 5px;
    }

    .timeline-item {
      flex-direction: column;
      align-items: center;
    }

    .timeline-item .left,
    .timeline-item .right {
      width: 100%;
      padding: 0 10px;
      text-align: center;
    }

    .timeline-item::before {
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - 24px);
      top: 12px;
    }

    .timeline-item::after {
      left: 50%;
      transform: translateX(-50%);
    }

    .timeline-item .left .date {
      margin-bottom: 5px;
    }

    .timeline-item .left h2 {
      font-size: 20px;
    }

    .timeline-item .left h3 {
      font-size: 16px;
    }

    .timeline-item .right span {
      margin-right: 5px;
      margin-bottom: 10px;
    }

    .skills-container {
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .skill-card {
      width: 100%;
    }

    .skill-card .icon {
      width: 50px;
    }

    .skill-card span {
      left: 70px;
      top: 15px;
      font-size: 16px;
    }

    .bar {
      width: calc(100% - 80px);
      left: 70px;
      top: 45px;
    }

    .percent {
      right: 10px;
      top: 15px;
    }

    .project-container {
      padding: 20px;
    }

    .project-card {
      flex: 1 1 100%;
    }

    .contact-container {
      flex-direction: column;
      gap: 30px;
      padding: 0 20px;
    }

    .contact-info, .contact-form {
      flex: 1 1 100%;
      padding: 20px;
    }

    .contact-info h2, .contact-form h2 {
      font-size: 35px;
    }

    .contact-info p, .contact-form p {
      font-size: 18px;
    }

    .contact-form label {
      font-size: 18px;
    }

    .contact-form input {
      font-size: 16px;
    }

    .contact-form button {
      font-size: 18px;
    }
  }


